@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Inter:wght@400;700;800&display=swap');

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Bai Jamjuree', sans-serif;
}

.container {
	max-width: 960px;
	margin: auto;
	padding: 10px;
}

body h1 {
	padding: 16px 0px;
	font-family: 'Bai Jamjuree';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 45px;
	text-align: center;
	color: #4C545D;
}

body h4 {
	font-family: 'Bai Jamjuree';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #4C545D;
}

body p {
	font-family: 'Bai Jamjuree';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #9FABB2;
	text-align: center;
	
}

body a {
	text-decoration: none;
}


header {
	background-image: url(https://drive.google.com/uc?export=view&id=1FF2-zKf1eCy1rCLCScAp-nIMcXWCQgGR);
	background-size: 100%;
	background-repeat: no-repeat;
}

/*header h1 {
	font-family: 'Bai Jamjuree';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 45px;
	text-align: center;
	color: #4C545D;
}*/

header p {
	font-family: 'Bai Jamjuree';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #9FABB2;
}

header .header-img {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 150px;
	padding-bottom: 64px;
}

header .button {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	margin: 16px;
	border-style: none;
	padding: 10px 20px;
	border-radius: 50px;
	/*background: #26BAA4;
	box-shadow: 0px 4px 10px rgba(38, 187, 164, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25);*/
}

.primary {
	background: #26BAA4;
	box-shadow: 0px 4px 10px rgba(38, 187, 164, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.secondary {
	background: #6173FF;
	box-shadow: 0px 4px 10px rgba(97, 114, 249, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25);
	border-radius: 50px;	
}

.primary:hover {
	background: rgba(38, 186, 164, 0.7);
	box-shadow: 0px 4px 10px rgba(38, 187, 164, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.secondary:hover {
	background: rgba(97, 115, 255, 0.7);
	box-shadow: 0px 4px 10px rgba(97, 114, 249, 0.5), inset -2px -2px 0px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.button {
	padding: 24px 0px;
}
button a {
	text-decoration: none;
	color: #ffffff;
}

/*SECTION-ONE*/

.section-one-header p {
	font-family: 'Bai Jamjuree';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #9FABB2;
}

.section-one-content {
	display: flex;
	align-items: center;
	padding: 64px 300px 64px 0px;

}

.section-one-content img {
	margin-right: 80px;
	width: 100%;
}

.section-one-details p{
	text-align: left;
}

.section-one-details div {
	padding: 8px 0px;
}

.section-one-details h4 {
	padding: 8px 0px;
}

/*SECTION-TWO*/

.section-two-content img {
	margin: 64px;
	width: 100%;
}

.section-two-content p {
	
}

/*SECTION-THREE*/

.section-three-details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	margin: 64px 0px;
}

.section-three-details div {
	display: block;
	align-items: center;
	text-align: center;
	margin: 16px;
}

.section-thr-details h4 {
	padding: 8px 0px;
}

.section-thr-details img {
	padding-bottom: 16px;
}

/*SECTION-FOUR*/

.section-four-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section-four-content img {
	margin: 32px;
}

section .button {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*SECTION-FIVE*/

.section-five-content {
	margin: 64px;
}

/*FOOTER*/

footer {
	background: #F5F6F8;
	background-size: cover;
}

.footer-content {
	display: flex;
	align-items: center;
}

.footer-logo img {
	margin-right: 64px;
}

.footer-details {
	display: flex;
}

.footer-details p {
	text-align: left;
	font-size: 10px;
}

.footer-details a {
	color: #9FABB2;
}

.footer-details div {
	margin: 32px;
}

.footer-body {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-img img {
	margin: 8px;
}

@media (max-width: 500px) {
	header {
	background-image: url(https://drive.google.com/uc?export=view&id=1cJnKNHoiZMxZi4-l1ZpDeZXcpURpBNdZ);
	background-size: 100%;
	background-repeat: no-repeat;
}

header .button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-one-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 64px 0px 64px 0px;

}

.section-one-content img {
	margin-right: 0px;
	padding: 0px 10px 0px 10px;
	width: 100%;
}

.section-one-details p, h4 {
	text-align: center;
}

.section-two-content img {
	margin: 0px;
	width: 100%;
}

.section-three-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	margin: 64px 0px;
}

.section-four-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

section .button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.footer-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 32px;
}

.footer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-details div {
	margin: 0px;
}

.footer-logo img {
	margin: 0px;
}

.footer-details p {
	text-align: center;
	font-size: 10px;
}

.footer-img img {
	margin-top: 32px;
}

footer {
	padding: 32px 0px;
}
}